<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Counter} - %message%newline" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\Logs\MyLogFile.txt" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception (%property{username}) (%property{uersid})" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\RollingFileLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="10MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception%username" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="server=127.0.0.1;uid=root;pwd=Toshibaa123;database=StockManager" />
			<commandText value="insert into ExceptionLogs (logDate, logThread, logLevel, logSource, logMessage, exception,UserName,UserId,RecordName,RecordId,ActionType,ClassName,LineNumber,MethodName,ScreenName)
  values (@log_date, @log_thread, @log_level, @log_source, @log_message, @exception,@log_username,@log_userid,@log_recordname,@log_recordid,@log_actiontype,@log_classname,@log_linenumber,@log_methodname,@log_screenname)
"></commandText>
			<!--<commandText value="dbo.procExceptionLogs_Insert" />
			<commandType value="StoredProcedure" />-->
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@log_thread" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_username" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{UserName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_screenname" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{ScreenName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_userid" />
				<dbType value="Int32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{UserId}" />
				</layout>
			</parameter>

			<parameter>
				<parameterName value="@log_recordname" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{RecordName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_recordid" />
				<dbType value="Int32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{RecordId}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_actiontype" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{ActionType}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_methodname" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{MethodName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_classname" />
				<dbType value="AnsiString" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{ClassName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_linenumber" />
				<dbType value="Int32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{LineNumber}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="AnsiString" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_source" />
				<dbType value="AnsiString" />
				<size value="300" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_message" />
				<dbType value="AnsiString" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="AnsiString" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="AdoNetAppender" />
		</root>
	</log4net>

</configuration>